$base-color: #ddd;
$active-color: #d2232a;

$base-gradient: 'glossy';
$tabs-dark: darken(desaturate($base-color, 10%), 5%);
$tabs-dark-active-color: $active-color;
$tabs-bottom-active-gradient: 'glossy';



@import 'sencha-touch/default/all';
@import 'pathmenu';
// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
@include pictos-iconmask('rss');
@include pictos-iconmask('time_repeat');
@include pictos-iconmask('add_black');
@include pictos-iconmask('calendar2');
@include pictos-iconmask('calendar_add');
@include pictos-iconmask('chat_black2');
@include pictos-iconmask('doc_drawer');

//common
a, .link {
  color: #900 !important;
}
a:visited {
  color: lighten(#900, 15%) !important;
}
body.x-android.x-phone {
  font-size: 104%; 
}
body.x-desktop {
  font-size: 104%; 
  overflow: hidden;
}

h3 {
    margin-top: 0.3em;
    font-size: 0.9em;
}
h4 {
    color: #900;
    font-size: 0.75em;
    margin-bottom: 0.3em;
}
.x-title {
    line-height: 2.1em;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0.3em;
    max-width: 100%;
}
.x-list-header.dark {
    color: #000;
    border-top: 1px solid #D1C7C7;
    font-size: 0.7em;
    padding: 0.4em 1.3em;
}

//non-editable field
.nonEditable {
    color: #000;
    -webkit-text-fill-color: #000;
    pointer-events: none;
}


//logo
.logo {
    margin-left: auto;
    margin-right: auto;
}

.x-list-item-label > .class {

    @include display-box;
    @include box-orient(horizontal);
    @include box-align(center);

    .title {
        @include box-flex(1);
        font-weight: bold;
        font-size: 0.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .session {
        font-size: 75% !important;
        color: #900;
        margin-left: .5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

// notify
.x-feeds {
    .x-list-item-label {
        font-weight: bold;
        line-height: 18px;
        font-size: 0.8em;

        span {
            display: block;
            font-size: 0.8em;
            font-weight: normal;
            color: #666;
        }
    }

    .feed {
        background-position: center center;
        -webkit-border-radius: 3px;
        float: left;
        border: 0;
        border-radius: 3px;
        margin-right: 10px;
        width: 37px;
        height: 37px;
        background-size: 37px auto;
        
    }

    .x-item-pressed,
    .x-item-selected {
        border-top-color: #D1D1D1 !important;
    }
}

//profile
.userInfo {

    background: #fff;

    .header {
        background-image: none;
        background-color: #EEE;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(3%, #FBFBFB), color-stop(100%, #E1E1E1));
        background-image: -webkit-linear-gradient(top, white,#FBFBFB 3%,#E1E1E1);
        background-image: linear-gradient(top, white,#FBFBFB 3%,#E1E1E1);
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ddd;
        padding: 1em 0.8em;
    }

    .avatar {
        background-position: center center;
        -webkit-border-radius: 0.5em;
        float: left;
        border: 0;
        border-radius: 0.5em;
        margin-right: 10px;
        width: 50px;
        height: 50px;
        background-size: 50px auto;
    }

    p {
        color: #333;
        line-height: 1.5em;
        padding: 0.4em 1.2em;
        font-size: 0.8em;
    }
}
